<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="notes content">
      <h1>All Note's Today</h1>

      <% if (notes.length > 0) { %> <% notes.forEach(note => { %>
      <h3 class="title"><%= note.title %></h3>
      <p class="snippet"><%= note.snippet %></p>
      <% }); %> <% } else { %>
      <p>Nothing to display</p>
      <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
